//
// modified by ansible install. don't edit this file, edit the source
// ansible playbook.
//

acl "trusted" {
{% for trusted in clients %}
	{{ trusted }};
{% endfor %}
};

acl "block" {
{% for blocked in block %}
        {{ blocked }};
{% endfor %}
};

options {
	version none;
	listen-on { 127.0.0.1; {{ hostvars[inventory_hostname]['ansible_'+ dnslisten]['ipv4']['address'] }}; };
	listen-on-v6 { any; };
	directory "/var/cache/bind";
	dump-file "/var/cache/bind/cache_dump.db";
	statistics-file "/var/cache/bind/stats.txt";
	memstatistics-file "/var/cache/bind/memstats.txt";
{% if block is defined %}
	blackhole { block; };
{% endif %}

//	allow-query { trusted; };
//	allow-query-cache { trusted; };
	allow-recursion { trusted; };
	allow-transfer { trusted; };
	recursion yes;

	//========================================================================
	// If BIND logs error messages about the root key being expired,
	// you will need to update your keys.  See https://www.isc.org/bind-keys
	//========================================================================
	dnssec-validation auto;

	auth-nxdomain no;    # conform to RFC1035
};

