$TTL    {{ ttl }}
{{zonename}}. IN SOA ns1.{{zonename}}. admin.{{zonename}}. (
  {{ serial }}      ; Serial
  {{ refresh }}     ; Refresh
  {{ retry }}       ; Retry
  {{ expire }}      ; Expire
  {{ negativettl }} ; Negative Cache TTL
)

;
; name servers - NS records
;
{% for nameserver, value in nameservers.iteritems() %}
{{zonename}}     IN      NS      {{nameserver}}.
{% endfor %}

; name servers - A records

; for example...
www.{{zonename}}.	       IN      A      10.20.30.240
